In [4]:
from tweepy import API
from tweepy import Cursor
from tweepy.streaming import StreamListener
from tweepy import OAuthHandler
from tweepy import Stream
import pandas as pd
import json
import pymysql
import re
import sqlalchemy
import numpy as np
from pandas import DataFrame,Series

# Scrapy data from Twitter

In [5]:
CONSUMER_KEY = '0orberQ9mYYYCdOsYAWF3XQKO'
CONSUMER_SECRET = '2FEARqOyp53GIoR0yZkWSyjlOzNDcWAHeQEj2Oe3KyUjY8i1Bd'
ACCESS_TOKEN = '834734282476183552-IpwzjD3cQvfgRVQvdtzMDK7xgfSMDdp'
ACCESS_TOKEN_SECRET = 'aOGwDERmgMIvfTmMP5FICgI3fitYMXeRILjR3afxNX6CD'

In [6]:
class TwitterClient():
    def __init__(self, twitter_user=None):
        self.auth = TwitterAuthenticator().authenticate_twitter_app()
        self.twitter_client = API(self.auth)
        
        self.twitter_user = twitter_user
class TwitterClient():
    def __init__(self, twitter_user=None):
        self.auth = TwitterAuthenticator().authenticate_twitter_app()
        self.twitter_client = API(self.auth)
        
        self.twitter_user = twitter_user
        
    def get_user_timeline_tweets(self, num_tweets):
        tweets = []
        for tweet in Cursor(self.twitter_client.user_timeline, id=self.twitter_user).items(num_tweets):
            tweets.append(tweet)
        return tweets
    
    
    def get_friend_list(self, num_friends):
        friend_list = []
        for friend in Cursor(self.twitter_client.friends, id=self.twitter_user).items(num_friends):
            friend_list.append(friend)
        return friend_list
class TwitterAuthenticator():

    def authenticate_twitter_app(self):
        auth = OAuthHandler(CONSUMER_KEY,CONSUMER_SECRET)
        auth.set_access_token(ACCESS_TOKEN,ACCESS_TOKEN_SECRET)
        return auth
class TwitterStreamer():
    """
    Class for streaming and processing live tweets.
    """
    def __init__(self):
       self.twitter_autenticator = TwitterAuthenticator()

    def stream_tweets(self, fetched_tweets_filename, hash_tag_list):
    # This handles Twitter authetification and the connection to Twitter Streaming API
        listener=TwitterListener(fetched_tweets_filename)
        auth = self.twitter_autenticator.authenticate_twitter_app() 
        stream = Stream(auth, listener)
        stream.filter(track=hash_tag_list)
        # This line filter Twitter Streams to capture data by the keywords: 
class TwitterListener(StreamListener):
    """
    This is a basic listener that just prints received tweets to stdout.
    """
    def __init__(self, fetched_tweets_filename):
        self.fetched_tweets_filename = fetched_tweets_filename

    def on_data(self, data):
        
        try:
            print(data)
            with open(self.fetched_tweets_filename, 'a') as tf:
                tf.write(data)
               
            return True
        except BaseException as e:
            print("Error on_data %s" % str(e))
        return True
       
   

    def on_error(self, status):
        print(status)

In [198]:
'''
hash_tag_list = ['Cristiano Ronaldo','Lionel Messi','Neymar']
fetched_tweets_filename = "popular_player.csv"
twitter_streamer = TwitterStreamer()
twitter_streamer.stream_tweets(fetched_tweets_filename, hash_tag_list)
'''

'\nhash_tag_list = [\'Cristiano Ronaldo\',\'Lionel Messi\',\'Neymar\']\nfetched_tweets_filename = "popular_player.csv"\ntwitter_streamer = TwitterStreamer()\ntwitter_streamer.stream_tweets(fetched_tweets_filename, hash_tag_list)\n'

# Scrapy data from Youtube

In [179]:
from __future__ import division
from datetime import datetime
import requests
from lxml import html, etree
import json
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
#pd.options.display.max_column = 100
pd.options.display.max_rows = 20
pd.options.display.width = 120

In [180]:
'''
parameters = {"part":"snippet",
             "maxResults":50,
             "order":"date",
             "pageToken":"",
              "q":"",
             "key":'AIzaSyAB3T6AY73qJULqDJ9R9OXiYTQu8zNnr3Q',
             "type":"video",}
url_1 = "https://www.googleapis.com/youtube/v3/search"
parameters["q"] = "Real Madrid CF,FC Barcelona"
page = requests.request(method="get",url=url_1,params=parameters)
j_results = json.loads(page.text)
data = j_results['items']
for i in data:
    parameters_2={"part":"statistics,snippet",
                     "maxResults":5,
                     "id":i['id']['videoId'],
                     "key":'AIzaSyAB3T6AY73qJULqDJ9R9OXiYTQu8zNnr3Q',
                     }
    
    url_2 = "https://www.googleapis.com/youtube/v3/videos"
    page_2 = requests.request(method="get",url=url_2,params=parameters_2)
    j_results_2 = json.loads(page_2.text)
    data_2 = j_results_2['items']
    for d in data_2:
        try:
            print(d['kind'],'+',d['id'],'+',d['snippet']['tags'],'+',d['statistics']['viewCount'],'+',d['statistics']['likeCount'])
        except:
            print(d['kind'],'+',d['id'],'+'," ",'+',d['statistics']['viewCount'],'+',d['statistics']['likeCount'])
'''

'\nparameters = {"part":"snippet",\n             "maxResults":50,\n             "order":"date",\n             "pageToken":"",\n              "q":"",\n             "key":\'AIzaSyAB3T6AY73qJULqDJ9R9OXiYTQu8zNnr3Q\',\n             "type":"video",}\nurl_1 = "https://www.googleapis.com/youtube/v3/search"\nparameters["q"] = "Real Madrid CF,FC Barcelona"\npage = requests.request(method="get",url=url_1,params=parameters)\nj_results = json.loads(page.text)\ndata = j_results[\'items\']\nfor i in data:\n    parameters_2={"part":"statistics,snippet",\n                     "maxResults":5,\n                     "id":i[\'id\'][\'videoId\'],\n                     "key":\'AIzaSyAB3T6AY73qJULqDJ9R9OXiYTQu8zNnr3Q\',\n                     }\n    \n    url_2 = "https://www.googleapis.com/youtube/v3/videos"\n    page_2 = requests.request(method="get",url=url_2,params=parameters_2)\n    j_results_2 = json.loads(page_2.text)\n    data_2 = j_results_2[\'items\']\n    for d in data_2:\n        try:\n            print(d[\'kind\'],\'+\',d[\'id\'],\'+\',d[\'snippet\'][\'tags\'],\'+\',d[\'statistics\'][\'viewCount\'],\'+\',d[\'statistics\'][\'likeCount\'])\n        except:\n            print(d[\'kind\'],\'+\',d[\'id\'],\'+\'," ",\'+\',d[\'statistics\'][\'viewCount\'],\'+\',d[\'statistics\'][\'likeCount\'])\n'

# CONNECT MYSQL

In [74]:
con=pymysql.connect(host='127.0.0.1',port=3306,user='root',db='assign3', charset = "utf8mb4") #connect mysql 和python with pymysql
cursor=con.cursor()
yconnect=sqlalchemy.create_engine('mysql+pymysql://root:@127.0.0.1:3306/assign3?charset=utf8')
def sql_to_df(sql_query):
    df=pd.read_sql(sql_query,con)
    return df

In [9]:
popular=pd.read_csv('popular_.csv')
pd.io.sql.to_sql(popular,'popular', yconnect, schema='assign3')
team=pd.read_csv('football_team.csv')
pd.io.sql.to_sql(team,'team', yconnect, schema='assign3')

### Use case 1 What are people saying about me?

Because the data we scrapied is related to three keywords. In this question, we get all the data in the table. They are all regarding our keywords. So they can completely explain what people are saying about me.

In [75]:
query='''
     SELECT * FROM popular
     limit 1
'''
sql_to_df(query)

,index,create_time,id,text,screen_name,location,url,followers_count,friends_count,listed_count,favourites_count,statuses_count,time_zone,lang,retweet_count
0,0,14:28:05,981176517500833000,@lucasgagliardis @gabrebustamante @AnaReis221 ...,RafaelBdS89,Rio de Janeiro Brasil,None,9,30,0,14,136,None,pt,11

In [203]:
query='''
    SELECT * FROM team
'''
sql_to_df(query)

    index           kind           id  ViewCount  likeCount                 tag
0       0  youtube#video  X154myIc5Hc        5.0        0.0        ['football']
1       1  youtube#video  ZCREmFR2S7k        2.0        0.0  ['Real Madrid CF']
2       2  youtube#video  j98UBJ1CTuA        4.0        0.0    ['FC Barcelona']
3       3  youtube#video  fDq_ao0b12U   122573.0     6260.0            ['club']
4       4  youtube#video  1B68BzFvRxk        9.0        0.0    ['FC Barcelona']
5       5  youtube#video  xoXcB3SM6AY        9.0        0.0            ['club']
6       6  youtube#video  Dxx5xD88lSA       18.0        5.0            ['club']
7       7  youtube#video  VHhFvM8INgE        0.0        0.0  ['Real Madrid CF']
8       8  youtube#video  bOVBDMAIuHE        9.0        0.0       ['barcelona']
9       9  youtube#video  WmFgjBvJzp8       76.0        1.0            ['club']
..    ...            ...          ...        ...        ...                 ...
41     41  youtube#video  iJQi12VtEkw    17504.0       26.0       ['barcelona']
42     42  youtube#video  8gZUC4Q_S0c  1115625.0       15.0    ['FC Barcelona']
43     43  youtube#video  k-Eyhh-ReZg     2819.0       26.0            ['club']
44     44  youtube#video  DxKLa1wCMQw        5.0       10.0        ['football']
45     45  youtube#video  TShF_osz01s      145.0       11.0            ['club']
46     46  youtube#video  J19ZrO8gJvw       20.0        7.0    ['FC Barcelona']
47     47  youtube#video  qt13pXFT4tg  3756070.0    21481.0        ['football']
48     48  youtube#video  Dl216J07-Hg     3099.0      127.0  ['Real Madrid CF']
49     49  youtube#video  Wtrn6hFwMzM       26.0        0.0  ['Real Madrid CF']
50     50              _         None        NaN        NaN                None

[51 rows x 6 columns]

### Use case 2 How viral are my posts?

We suppose that the retweet number an reflect how viral of every post. So we ordered the retweet count in Sql to show all posts virality. And then just show users screen_name and its related retweet number.

In [183]:
query='''
    SELECT id,text,retweet_count FROM popular
   
'''
sql_to_df(query)

                   id                                               text  retweet_count
0  981176517500833000  @lucasgagliardis @gabrebustamante @AnaReis221 ...             11

### Use case 3 How much influence to my posts have?

We suppose that the total number of retweet_count, followers_count and favourites_count can represent the influence of each post. So we calculated the sum of these three values of every row and stored that sum in the totall_influence. Using this column to show the influence of every tweet.

In [184]:
query='''
    SELECT id, screen_name,  (retweet_count + followers_count+ favourites_count) AS totall_influence
    FROM popular
   
'''
sql_to_df(query)

                   id  screen_name  totall_influence
0  981176517500833000  RafaelBdS89                34

### Use case 4 What posts are like mine?

In this question, we assume people with same key words are like others. So, we randomly selected one like 'Cristiano Ronaldo'. And we get the user screen_name and text of users who also mentioned 'Lionel Messi'.

In [187]:
query='''
    SELECT screen_name,text
    FROM popular
    WHERE text LIKE '%Lionel Messi%'

'''
sql_to_df(query)

       screen_name                                               text
0   ChukwumaEjike2  RT @MESSlSTATS_: Lionel Messi's goal vs Sevill...
1        ZheeOmega  @agusasud Gw justru ngefans sm Lionel messi......
2       GuillemHdz  RT @AReynolds70: One of the reasons Lionel Mes...
3         BadoxVbc  RT @ActuFoot_: Lionel Messi a marqu\u00e9 same...
4     vvTrekvogels  6 april - 6 april - 6 april\n\nWie kent \u2018...
5     ChristAndree  RT @AReynolds70: One of the reasons Lionel Mes...
6          M91Toom  RT @ActuFoot_: Lionel Messi a marqu\u00e9 same...
7    PNS_SportNews  #Sport - Where Antoine Griezmann fits in at Ba...
8          sitiope  #Instagram Lionel Messi comparti\u00f3 emotiva...
9          goalz24  'There 's no way to stop Lionel Messi ' conced...
10        TJeAbcrt  RT @ActuFoot_: Lionel Messi a marqu\u00e9 same...

### Use case 5 What users post like mine?

Continue last question, users who have same keywords are like others. Then we get the user id and screen_name of this kind of users.

In [188]:
query='''
   SELECT id,screen_name,text FROM popular
   WHERE text LIKE '%Lionel Messi%'
  
'''
sql_to_df(query)

                    id     screen_name                                               text
0   981176520109535000  ChukwumaEjike2  RT @MESSlSTATS_: Lionel Messi's goal vs Sevill...
1   981176683758678000       ZheeOmega  @agusasud Gw justru ngefans sm Lionel messi......
2   981176693959397000      GuillemHdz  RT @AReynolds70: One of the reasons Lionel Mes...
3   981176732899188000        BadoxVbc  RT @ActuFoot_: Lionel Messi a marqu\u00e9 same...
4   981176842932641000    vvTrekvogels  6 april - 6 april - 6 april\n\nWie kent \u2018...
5   981176864986226000    ChristAndree  RT @AReynolds70: One of the reasons Lionel Mes...
6   981176986776342000         M91Toom  RT @ActuFoot_: Lionel Messi a marqu\u00e9 same...
7   981177011434483000   PNS_SportNews  #Sport - Where Antoine Griezmann fits in at Ba...
8   981177019026362000         sitiope  #Instagram Lionel Messi comparti\u00f3 emotiva...
9   981177028304146000         goalz24  'There 's no way to stop Lionel Messi ' conced...
10  981177170558058000        TJeAbcrt  RT @ActuFoot_: Lionel Messi a marqu\u00e9 same...

### Use case 6 Who should I be following?

People typed in same key words like 'Lionel Messi' are in same interests. And we order these users by their followers count in descending. Because people are more likely to notice ID with large number of followers.

In [189]:
query='''
    SELECT  id,text, screen_name, followers_count 
    FROM popular
    WHERE text LIKE '%Lionel Messi%'
    ORDER BY followers_count DESC  
    LIMIT 1
'''
sql_to_df(query)

                   id                                               text screen_name  followers_count
0  981176683758678000  @agusasud Gw justru ngefans sm Lionel messi......   ZheeOmega            16942

### Use case 7 What topics are trending in my domain?

Because the list we created to scrapied the data is in three name. In this question, we filtered the name of each one in the list and constrained in one same minute like 14:28 to count which one has the most tweets. From the outcome below, we can conclude Cristiano Ronaldo and Neymar are most trending.

In [47]:
query='''
    SELECT text,create_time,count(text)  FROM popular 
    WHERE create_time LIKE '%14:28%'
    GROUP BY
          (CASE
           WHEN 
                text LIKE '%Lionel Messi%' 
           THEN
               'Lionel Messi'
           WHEN 
                text LIKE '%Cristiano Ronaldo%'
           THEN
               'Cristiano Ronaldo' 
           ELSE
               'Neymar'
           END)
   
         
'''
sql_to_df(query)

                                                text create_time  count(text)
0  RT @ChampionsLeague: .@Cristiano Ronaldo has s...    14:28:07           16
1  RT @MESSlSTATS_: Lionel Messi's goal vs Sevill...    14:28:06            4
2  @lucasgagliardis @gabrebustamante @AnaReis221 ...    14:28:05           16

### Use case 8 What keywords/hashtags should I add to my post?

Because the list we created to scrapied the data is in three name. We took these three names as keywords and counted the number of text containing the name respectively. The most number of text should add to the post.

In [22]:
query='''
   SELECT text, count(text)  FROM popular GROUP BY
          (CASE
           WHEN 
                text LIKE '%Lionel Messi%' 
           THEN
               'Lionel Messi'
           WHEN 
                text LIKE '%Cristiano Ronaldo%'
           THEN
               'Cristiano Ronaldo'
           ELSE
               'Neymar'
           END)
        
'''
sql_to_df(query)

                                                text  count(text)
0  RT @ChampionsLeague: .@Cristiano Ronaldo has s...           50
1  RT @MESSlSTATS_: Lionel Messi's goal vs Sevill...           11
2  @lucasgagliardis @gabrebustamante @AnaReis221 ...           57

### Use case 9 Should  I follow sombody back?

For this usecase, we take "Lionel Messi" as a user. The user who mentioned "Lionel Messi" and with the most followers number are more likely the one Messi would notice. Then we used 'api.show_friendship' function to check whether that user has followed Messi, but Messi has not followed back. If yes, then that one should be followed back by Messi.

In [191]:
query='''
    SELECT  id,text, screen_name, followers_count 
    FROM popular
    WHERE text LIKE '%Lionel Messi%'
    ORDER BY followers_count DESC  
  
'''
sql_to_df(query)

                    id                                               text     screen_name  followers_count
0   981176683758678000  @agusasud Gw justru ngefans sm Lionel messi......       ZheeOmega            16942
1   981177028304146000  'There 's no way to stop Lionel Messi ' conced...         goalz24             3136
2   981177011434483000  #Sport - Where Antoine Griezmann fits in at Ba...   PNS_SportNews             2247
3   981177019026362000  #Instagram Lionel Messi comparti\u00f3 emotiva...         sitiope             1421
4   981176842932641000  6 april - 6 april - 6 april\n\nWie kent \u2018...    vvTrekvogels              530
5   981176986776342000  RT @ActuFoot_: Lionel Messi a marqu\u00e9 same...         M91Toom              451
6   981176732899188000  RT @ActuFoot_: Lionel Messi a marqu\u00e9 same...        BadoxVbc              449
7   981176864986226000  RT @AReynolds70: One of the reasons Lionel Mes...    ChristAndree              261
8   981177170558058000  RT @ActuFoot_: Lionel Messi a marqu\u00e9 same...        TJeAbcrt              252
9   981176693959397000  RT @AReynolds70: One of the reasons Lionel Mes...      GuillemHdz              198
10  981176520109535000  RT @MESSlSTATS_: Lionel Messi's goal vs Sevill...  ChukwumaEjike2               62

In [125]:
import tweepy
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)
api = tweepy.API(auth)
if (not api):
    print ("Problem connecting to API")


api.show_friendship(source_screen_name='imessi',target_screen_name='ChukwumaEjike2')

(Friendship(_api=<tweepy.api.API object at 0x11e1ec940>, id=50600749, id_str='50600749', screen_name='imessi', following=False, followed_by=True, live_following=False, following_received=None, following_requested=None, notifications_enabled=None, can_dm=True, blocking=None, blocked_by=None, muting=None, want_retweets=None, all_replies=None, marked_spam=None),
 Friendship(_api=<tweepy.api.API object at 0x11e1ec940>, id=742711220877299712, id_str='742711220877299712', screen_name='ChukwumaEjike2', following=True, followed_by=False, following_received=None, following_requested=None))

### Use case 10 What is the best time to post?

For this usecase, we divide the time into ten intervals. Then calculate the average number of every intervals' retweet_count. The most number of AVG(retweet_count) is the best time to post. From the below, we can get 9'o clock is the best time to post.

In [174]:
query='''
  SELECT time,AVG(retweet_count) FROM totall GROUP BY
      (CASE
           WHEN 
                time LIKE '%3:%'
           THEN
               '3'
           WHEN 
                time LIKE '%4:%'
           THEN 
               '4'
           WHEN
                time LIKE '%5:%'
           THEN
               '5'
           WHEN
               time LIKE '%6:%'
           THEN 
               '6'
           WHEN 
               time LIKE '%7:%'
           THEN 
               '7'
           WHEN
                time LIKE '%8:%'
           THEN
               '8'
           WHEN
               time LIKE '%9:%'
           THEN 
               '9'
           WHEN 
               time LIKE '%10:%'
           THEN 
               '10'
           WHEN
               time LIKE '%11:%'
           THEN 
               '11'
           WHEN 
               time LIKE '%12:%'
           THEN 
               '12'
      END)
      
  ORDER BY AVG(retweet_count)
        
'''
sql_to_df(query)

       time  AVG(retweet_count)
0  12:00:53             81.0000
1  10:01:10            196.5000
2   3:01:56            347.5952
3   7:09:18            426.8444
4   4:05:02            481.3208
5  11:01:10            665.1875
6   6:02:04            695.2830
7   2:55:02            854.4400
8   8:00:03           1017.4681
9   9:00:06           1093.1429

### Use case 11 Should I add an url or picture  to my post?

For this question, we compared the average number of followers_count in all text with url and no url. The most average number means more influence. So adding an url can bring more followers.

In [23]:
query='''
 SELECT AVG(followers_count), url FROM popular
 GROUP BY
 (CASE
  WHEN
      url != 'null'
  THEN 
      'with URL'
  ELSE
      'without URL'
  END
 )

'''
sql_to_df(query)

   AVG(followers_count)                   url
0            14390.0313  http:\/\/deguena.com
1             2705.6628                  null

### Use case 12 What’s my reach?

* In this usecase, we get the tweet_id with the most followers_count via the url after every row of text.
* And then get user_id who retweeted that tweet. 
* Next, we get the related hashtags and the number of hashtags mentioned.

From below, we can tell that the tag with the most mentioned is 'LRT'. We searched on Google 'LRT' is acronym of 'Light rail', which means our domain has extended from football to transportation. Besides, we also have tags like 'NXT TAKEOVER' in games domain.

In [193]:
query='''
SELECT text FROM popular
ORDER BY followers_count
LIMIT 1

'''
sql_to_df(query)

                                                text
0  CRISTIANO RONALDO | BEAST MODE: https:\/\/t.co...

In [169]:
api.retweeters(id=981175809594609664,count=10)

[980305400]

In [172]:
from datetime import datetime, date, time, timedelta
from tweepy import Cursor
from collections import Counter
hashtags = []
mentions = []
tweet_count = 0
end_date = datetime.utcnow() - timedelta(days=50)
for status in Cursor(api.user_timeline, id=980305400).items():
      tweet_count += 1
      if hasattr(status, "entities"):
        entities = status.entities
        if "hashtags" in entities:
          for ent in entities["hashtags"]:
            if ent is not None:
              if "text" in ent:
                hashtag = ent["text"]
                if hashtag is not None:
                  hashtags.append(hashtag)
        if "user_mentions" in entities:
          for ent in entities["user_mentions"]:
            if ent is not None:
              if "screen_name" in ent:
                name = ent["screen_name"]
                if name is not None:
                  mentions.append(name)
      if status.created_at < end_date:
        break

In [173]:
for user1, count in Counter(hashtags).most_common(10):
      print(user1 + "\t" + str(count))

Lrt	84
FCPorto	81
WrestleMania	58
WWE	44
SDLive	38
SLBFCP	32
UCL	30
Lt	24
FCPVFC	24
NXTTakeOver	22

# synonyms

#### import nltk python library

In [1]:
from nltk.corpus import wordnet as wn
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /Users/gaorong/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [2]:
wn.synsets('book')

[Synset('book.n.01'),
 Synset('book.n.02'),
 Synset('record.n.05'),
 Synset('script.n.01'),
 Synset('ledger.n.01'),
 Synset('book.n.06'),
 Synset('book.n.07'),
 Synset('koran.n.01'),
 Synset('bible.n.01'),
 Synset('book.n.10'),
 Synset('book.n.11'),
 Synset('book.v.01'),
 Synset('reserve.v.04'),
 Synset('book.v.03'),
 Synset('book.v.04')]

#### Get hashtags to use in wordnet

In [11]:
hashtag_1 = pd.read_csv('/Users/gaorong/Desktop/hashtag1.csv', encoding='latin1',skipinitialspace=True)
hashtag_1

              hash_tag
0                  20m
1             football
2                  UCL
3                  ISL
4                  UCL
5                  UCL
6    Cristiano Ronaldo
7                  UCL
8             A. Vidal
9        Romelu Lukaku
10          HalaMadrid
11                 20m
12                 UCL
13                UCL
14                 UCL
15                 UCL
16            Kuszczak
17                 MAR
18                 GER
19       Romelu Lukaku
20                 RUS
21                 UCL
22                 UCL
23                 UCL
24                 UCL
25                 UCL
26                 UCL
27                 UCL
28                 UCL
29          Kamil Glik
..                 ...
74             T. Horn
75              Neymar
76        Lionel Messi
77                 UCL
78              Neymar
79              Neymar
80        Lionel Messi
81                 UCL
82                 UCL
83                 UCL
84          C. Eriksen
85                 UCL
86                 UCL
87                 UCL
88                 UCL
89                 UCL
90                 UCL
91                 UCL
92                 UCL
93                 UCL
94                 UCL
95              Neymar
96                 UCL
97              Neymar
98                 UCL
99              Neymar
100           football
101               book
102              table
103                fly

[104 rows x 1 columns]

In [12]:
x = hashtag_1['hash_tag']

In [13]:
x

0                    20m
1               football
2                    UCL
3                    ISL
4                    UCL
5                    UCL
6      Cristiano Ronaldo
7                    UCL
8               A. Vidal
9          Romelu Lukaku
10            HalaMadrid
11                   20m
12                   UCL
13                  UCL
14                   UCL
15                   UCL
16              Kuszczak
17                   MAR
18                   GER
19         Romelu Lukaku
20                   RUS
21                   UCL
22                   UCL
23                   UCL
24                   UCL
25                   UCL
26                   UCL
27                   UCL
28                   UCL
29            Kamil Glik
             ...
74               T. Horn
75                Neymar
76          Lionel Messi
77                   UCL
78                Neymar
79                Neymar
80          Lionel Messi
81                   UCL
82                   UCL
83                   UCL
84            C. Eriksen
85                   UCL
86                   UCL
87                   UCL
88                   UCL
89                   UCL
90                   UCL
91                   UCL
92                   UCL
93                   UCL
94                   UCL
95                Neymar
96                   UCL
97                Neymar
98                   UCL
99                Neymar
100             football
101                 book
102                table
103                  fly
Name: hash_tag, Length: 104, dtype: object

#### Create synonyms table

In [14]:
query='''
CREATE TABLE hash_tag_synonyms2
(
tag varchar(255), 
synonmous varchar(255)
)
'''
try:
    sql_to_df(query)
except:
       print("Create a table has been successfully!")

Create a table has been successfully!

#### Get synonyms of hashtags and write data in a csv file.

In [16]:
synonyms = []
for hashtag in x:
    y = wn.synsets(hashtag)
    for syn in y:
        for l in syn.lemmas():
            #write_sql(hashtag, l.name())
            synonyms.append([hashtag, l.name()])
            print(hashtag, y)
            print("1")
        #     for t in y:
#         c = wn.synsets(t)

football [Synset('football.n.01'), Synset('football.n.02')]
1
football [Synset('football.n.01'), Synset('football.n.02')]
1
football [Synset('football.n.01'), Synset('football.n.02')]
1
MAR [Synset('march.n.01'), Synset('blemish.n.01'), Synset('mar.v.01'), Synset('mutilate.v.03')]
1
MAR [Synset('march.n.01'), Synset('blemish.n.01'), Synset('mar.v.01'), Synset('mutilate.v.03')]
1
MAR [Synset('march.n.01'), Synset('blemish.n.01'), Synset('mar.v.01'), Synset('mutilate.v.03')]
1
MAR [Synset('march.n.01'), Synset('blemish.n.01'), Synset('mar.v.01'), Synset('mutilate.v.03')]
1
MAR [Synset('march.n.01'), Synset('blemish.n.01'), Synset('mar.v.01'), Synset('mutilate.v.03')]
1
MAR [Synset('march.n.01'), Synset('blemish.n.01'), Synset('mar.v.01'), Synset('mutilate.v.03')]
1
MAR [Synset('march.n.01'), Synset('blemish.n.01'), Synset('mar.v.01'), Synset('mutilate.v.03')]
1
MAR [Synset('march.n.01'), Synset('blemish.n.01'), Synset('mar.v.01'), Synset('mutilate.v.03')]
1
MAR [Synset('march.n.01'), Synset('blemish.n.01'), Synset('mar.v.01'), Synset('mutilate.v.03')]
1
MAR [Synset('march.n.01'), Synset('blemish.n.01'), Synset('mar.v.01'), Synset('mutilate.v.03')]
1
MAR [Synset('march.n.01'), Synset('blemish.n.01'), Synset('mar.v.01'), Synset('mutilate.v.03')]
1
MAR [Synset('march.n.01'), Synset('blemish.n.01'), Synset('mar.v.01'), Synset('mutilate.v.03')]
1
RUS [Synset('rus.n.01'), Synset('ruthenium.n.01')]
1
RUS [Synset('rus.n.01'), Synset('ruthenium.n.01')]
1
RUS [Synset('rus.n.01'), Synset('ruthenium.n.01')]
1
RUS [Synset('rus.n.01'), Synset('ruthenium.n.01')]
1
portugal [Synset('portugal.n.01')]
1
portugal [Synset('portugal.n.01')]
1
Bruno [Synset('leo_ix.n.01'), Synset('bruno.n.02'), Synset('bruno.n.03')]
1
Bruno [Synset('leo_ix.n.01'), Synset('bruno.n.02'), Synset('bruno.n.03')]
1
Bruno [Synset('leo_ix.n.01'), Synset('bruno.n.02'), Synset('bruno.n.03')]
1
Bruno [Synset('leo_ix.n.01'), Synset('bruno.n.02'), Synset('bruno.n.03')]
1
Bruno [Synset('leo_ix.n.01'), Synset('bruno.n.02'), Synset('bruno.n.03')]
1
Bruno [Synset('leo_ix.n.01'), Synset('bruno.n.02'), Synset('bruno.n.03')]
1
Bruno [Synset('leo_ix.n.01'), Synset('bruno.n.02'), Synset('bruno.n.03')]
1
Bruno [Synset('leo_ix.n.01'), Synset('bruno.n.02'), Synset('bruno.n.03')]
1
portugal [Synset('portugal.n.01')]
1
portugal [Synset('portugal.n.01')]
1
Barcelona [Synset('barcelona.n.01')]
1
football [Synset('football.n.01'), Synset('football.n.02')]
1
football [Synset('football.n.01'), Synset('football.n.02')]
1
football [Synset('football.n.01'), Synset('football.n.02')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
book [Synset('book.n.01'), Synset('book.n.02'), Synset('record.n.05'), Synset('script.n.01'), Synset('ledger.n.01'), Synset('book.n.06'), Synset('book.n.07'), Synset('koran.n.01'), Synset('bible.n.01'), Synset('book.n.10'), Synset('book.n.11'), Synset('book.v.01'), Synset('reserve.v.04'), Synset('book.v.03'), Synset('book.v.04')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
table [Synset('table.n.01'), Synset('table.n.02'), Synset('table.n.03'), Synset('mesa.n.01'), Synset('table.n.05'), Synset('board.n.04'), Synset('postpone.v.01'), Synset('table.v.02')]
1
fly [Synset('fly.n.01'), Synset('tent-fly.n.01'), Synset('fly.n.03'), Synset('fly.n.04'), Synset('fly.n.05'), Synset('fly.v.01'), Synset('fly.v.02'), Synset('fly.v.03'), Synset('fly.v.04'), Synset('fly.v.05'), Synset('fly.v.06'), Synset('fly.v.07'), Synset('fly.v.08'), Synset('fly.v.09'), Synset('fly.v.10'), Synset('flee.v.01'), Synset('fly.v.12'), Synset('fly.v.13'), Synset('vanish.v.05'), Synset('fly.s.01')]
1

In [17]:
import csv
csvfile = "synmous_tag.csv"
with open(csvfile, "w") as output:
    writer = csv.writer(output, lineterminator='\n')
    writer.writerows(synonyms)

#### Import data to database.

In [19]:
hashtag_1=pd.read_csv('synmous_tag.csv')
pd.io.sql.to_sql(hashtag_1,'synmous1', yconnect, schema='assign3')

In [20]:
query='''
  SELECT * FROM synmous1

'''
sql_to_df(query)

     index  football           football.1
0        0  football        football_game
1        1  football             football
2        2       MAR                March
3        3       MAR                  Mar
4        4       MAR              blemish
5        5       MAR               defect
6        6       MAR                  mar
7        7       MAR                  mar
8        8       MAR               impair
9        9       MAR                spoil
10      10       MAR             deflower
11      11       MAR              vitiate
12      12       MAR             mutilate
13      13       MAR                  mar
14      14       RUS                  Rus
15      15       RUS            ruthenium
16      16       RUS                   Ru
17      17       RUS     atomic_number_44
18      18  portugal             Portugal
19      19  portugal  Portuguese_Republic
20      20     Bruno               Leo_IX
21      21     Bruno                Bruno
22      22     Bruno        Bruno_of_Toul
23      23     Bruno                Bruno
24      24     Bruno          Saint_Bruno
25      25     Bruno            St._Bruno
26      26     Bruno                Bruno
27      27     Bruno       Giordano_Bruno
28      28  portugal             Portugal
29      29  portugal  Portuguese_Republic
..     ...       ...                  ...
100    100       fly            tent_flap
101    101       fly                  fly
102    102       fly            fly_front
103    103       fly                  fly
104    104       fly             fly_ball
105    105       fly                  fly
106    106       fly                  fly
107    107       fly                 wing
108    108       fly                  fly
109    109       fly                  fly
110    110       fly               aviate
111    111       fly                pilot
112    112       fly                  fly
113    113       fly                  fly
114    114       fly                  fly
115    115       fly                  fly
116    116       fly                  fly
117    117       fly                 fell
118    118       fly               vanish
119    119       fly                  fly
120    120       fly                  fly
121    121       fly                 flee
122    122       fly                  fly
123    123       fly          take_flight
124    124       fly                  fly
125    125       fly                  fly
126    126       fly               vanish
127    127       fly                  fly
128    128       fly             vaporize
129    129       fly                  fly

[130 rows x 3 columns]

### Miss_pelling Word Table

#### Create a hash_tag_misspelling1 table

In [30]:
query='''
CREATE TABLE hash_tag_misspelling1
(
tag varchar(255),
misjudged varchar(255),
misspelled varchar(255)
)
'''
try:
    sql_to_df(query)
except:
       print("Create a table has been successfully!")

Create a table has been successfully!

In [31]:
import enchant
d = enchant.Dict("en_US")

In [32]:
d.check('hello')
d.suggest('hello')[0]

'hello'

#### Get misspelled data and insert it to database. including hashtags.

In [69]:
misspelled =[]
for i in range(0,104):
    y = d.check(x[i])
    z = d.suggest(x[i])
    for t in z:
        # write_sql1(x[i], y, t)
        misspelled.append([x[i], y, t])
        print(x[i], y, t)
        print("1")

football True football
1
football True footballs
1
football True footfall
1
football True foot ball
1
UCL False CL
1
UCL False U CL
1
ISL True IS
1
ISL True ISLE
1
ISL True ILL
1
ISL True ISM
1
ISL True IS L
1
ISL True ISL
1
ISL True ISA
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL  False UCLA
1
UCL  False UNCLE
1
UCL  False EUCLID
1
UCL  False NUCLEI
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
MAR True RAM
1
MAR True MAR
1
MAR True MA
1
MAR True OMAR
1
MAR True MARE
1
MAR True MARS
1
MAR True MART
1
MAR True MARL
1
MAR True MARK
1
MAR True ARM
1
MAR True EAR
1
MAR True TAR
1
MAR True OAR
1
MAR True CAR
1
MAR True GAR
1
GER True REG
1
GER True GER
1
GER True GR
1
GER True AGER
1
GER True GOER
1
GER True GEAR
1
GER True GERM
1
GER True ERG
1
GER True MER
1
GER True PER
1
GER True HER
1
GER True FER
1
GER True DER
1
GER True BER
1
GER True KER
1
RUS False ROES
1
RUS False US
1
RUS False RS
1
RUS False GRUS
1
RUS False RUES
1
RUS False RUNS
1
RUS False RUTS
1
RUS False RUGS
1
RUS False RUMS
1
RUS False RUBS
1
RUS False RUSE
1
RUS False RUST
1
RUS False RUSH
1
RUS False RUSK
1
RUS False NUS
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
portugal False Portugal
1
ENG True NEG
1
ENG True ENG
1
ENG True EN
1
ENG True DENG
1
ENG True GEN
1
ENG True ERG
1
ENG True EGG
1
ENG True ENS
1
ENG True ENC
1
ENG True END
1
ENG True EN G
1
O'Shea True O'Shea
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
Bruno True Brno
1
Bruno True Bruno
1
Bruno True Brunt
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
portugal False Portugal
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
Genoa goalkeeper False Goalkeeper
1
Genoa goalkeeper False Goalkeeping
1
Genoa goalkeeper False Groundskeepers
1
Genoa goalkeeper False Saloonkeeper
1
UCL False CL
1
UCL False U CL
1
Genoa goalkeeper  False Goalkeeper
1
Genoa goalkeeper  False Goalkeeping
1
Genoa goalkeeper  False Groundskeepers
1
Genoa goalkeeper  False Saloonkeeper
1
Genoa goalkeeper  False Goalkeeper
1
Genoa goalkeeper  False Goalkeeping
1
Genoa goalkeeper  False Groundskeepers
1
Genoa goalkeeper  False Saloonkeeper
1
Bentley True Bentley
1
Bentley True Bentleys
1
Bentley True Bentlee
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
Barcelona True Barcelona
1
UCL False CL
1
UCL False U CL
1
Neymar False Moneymaker
1
Neymar False Neysa
1
Neymar False Journeyman
1
Neymar False Nearby
1
UCL False CL
1
UCL False U CL
1
Neymar False Moneymaker
1
Neymar False Neysa
1
Neymar False Journeyman
1
Neymar False Nearby
1
Neymar False Moneymaker
1
Neymar False Neysa
1
Neymar False Journeyman
1
Neymar False Nearby
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
UCL False CL
1
UCL False U CL
1
Neymar False Moneymaker
1
Neymar False Neysa
1
Neymar False Journeyman
1
Neymar False Nearby
1
UCL False CL
1
UCL False U CL
1
Neymar False Moneymaker
1
Neymar False Neysa
1
Neymar False Journeyman
1
Neymar False Nearby
1
UCL False CL
1
UCL False U CL
1
Neymar False Moneymaker
1
Neymar False Neysa
1
Neymar False Journeyman
1
Neymar False Nearby
1
football True football
1
football True footballs
1
football True footfall
1
football True foot ball
1
book True book
1
book True boo
1
book True brook
1
book True books
1
book True nook
1
book True rook
1
book True took
1
book True look
1
book True cook
1
book True gook
1
book True hook
1
book True kook
1
book True Cook
1
book True bock
1
book True boos
1
table True able
1
table True tale
1
table True stable
1
table True tables
1
table True tablet
1
table True tabled
1
table True sable
1
table True cable
1
table True gable
1
table True fable
1
table True Gable
1
table True Mable
1
table True tabla
1
table True t able
1
fly True fl
1
fly True flay
1
fly True sly
1
fly True ply
1
fly True Ely
1
fly True Sly
1
fly True Cly
1
fly True fey
1
fly True fay
1
fly True fry
1
fly True fwy
1
fly True flt
1
fly True flu
1
fly True fl y
1

In [70]:
import csv
csvfile = "misseplling1_tag.csv"
with open(csvfile, "w") as output:
    writer = csv.writer(output, lineterminator='\n')
    writer.writerows(misspelled)

In [71]:
hashtag_1=pd.read_csv('misseplling1_tag.csv')
pd.io.sql.to_sql(hashtag_1,'misseplling', yconnect, schema='assign3')

In [76]:
query='''
SELECT * FROM misseplling
'''
sql_to_df(query)

     index       tag  misjuded misspelled
0        0  football         1   football
1        1  football         1  footballs
2        2  football         1   footfall
3        3  football         1  foot ball
4        4       UCL         0         CL
5        5       UCL         0       U CL
6        6       ISL         1         IS
7        7       ISL         1       ISLE
8        8       ISL         1        ILL
9        9       ISL         1        ISM
10      10       ISL         1       IS L
11      11       ISL         1        ISL
12      12       ISL         1        ISA
13      13       UCL         0         CL
14      14       UCL         0       U CL
15      15       UCL         0         CL
16      16       UCL         0       U CL
17      17       UCL         0         CL
18      18       UCL         0       U CL
19      19       UCL         0         CL
20      20       UCL         0       U CL
21      21      UCL          0       UCLA
22      22      UCL          0      UNCLE
23      23      UCL          0     EUCLID
24      24      UCL          0     NUCLEI
25      25       UCL         0         CL
26      26       UCL         0       U CL
27      27       UCL         0         CL
28      28       UCL         0       U CL
29      29       MAR         1        RAM
..     ...       ...       ...        ...
226    226      book         1       bock
227    227      book         1       boos
228    228     table         1       able
229    229     table         1       tale
230    230     table         1     stable
231    231     table         1     tables
232    232     table         1     tablet
233    233     table         1     tabled
234    234     table         1      sable
235    235     table         1      cable
236    236     table         1      gable
237    237     table         1      fable
238    238     table         1      Gable
239    239     table         1      Mable
240    240     table         1      tabla
241    241     table         1     t able
242    242       fly         1         fl
243    243       fly         1       flay
244    244       fly         1        sly
245    245       fly         1        ply
246    246       fly         1        Ely
247    247       fly         1        Sly
248    248       fly         1        Cly
249    249       fly         1        fey
250    250       fly         1        fay
251    251       fly         1        fry
252    252       fly         1        fwy
253    253       fly         1        flt
254    254       fly         1        flu
255    255       fly         1       fl y

[256 rows x 4 columns]

### Semantic Information table

#### Create a hash_tag_semantic table

In [50]:
query='''
CREATE TABLE hash_tag_semantic
(
tag varchar(255),
category varchar(255)
)
'''
try:
    sql_to_df(query)
except:
    print("Create a Semantic information table has been successful!")

Create a Semantic information table has been successful!

#### Get hashtag category data by using nltk library and load it to table hash_tag_semantic

In [63]:
category=[]
for hashtag in x:
    y = wn.synsets(hashtag)
    for syn in y:
        for l in syn.topic_domains():
            for n in l.lemmas():
                #write_sql2(hashtag, n.name())
                category.append([hashtag, n.name()])
                print(hashtag, n.name())
                print("1")

Bruno Roman_Catholic
1
Bruno Western_Church
1
Bruno Roman_Catholic_Church
1
Bruno Church_of_Rome
1
Bruno Roman_Church
1
book card_game
1
book cards
1
fly baseball
1
fly baseball_game
1
fly air_travel
1
fly aviation
1
fly air
1
fly aircraft
1
fly air_travel
1
fly aviation
1
fly air
1
fly baseball
1
fly baseball_game
1

In [64]:
import csv
csvfile = "semantic_tag.csv"
with open(csvfile, "w") as output:
    writer = csv.writer(output, lineterminator='\n')
    writer.writerows(category)

In [77]:
hashtag_1=pd.read_csv('semantic_tag.csv')
pd.io.sql.to_sql(hashtag_1,'semantic', yconnect, schema='assign3')

In [79]:
query='''
SELECT * FROM semantic
'''
sql_to_df(query)

    index hash_tag               category
0       0    Bruno         Roman_Catholic
1       1    Bruno         Western_Church
2       2    Bruno  Roman_Catholic_Church
3       3    Bruno         Church_of_Rome
4       4    Bruno           Roman_Church
5       5     book              card_game
6       6     book                  cards
7       7      fly               baseball
8       8      fly          baseball_game
9       9      fly             air_travel
10     10      fly               aviation
11     11      fly                    air
12     12      fly               aircraft
13     13      fly             air_travel
14     14      fly               aviation
15     15      fly                    air
16     16      fly               baseball
17     17      fly          baseball_game